# <center> Dockless Dataset </center>
### <center> Extract, Transform, Load </center>

In [1]:
import pandas as pd
from pandas.io.json import json_normalize
from pandas import Timestamp
from datetime import datetime, timedelta
import pymongo

### Mongo Initialization
##### Database ⟷ dockless_vehicle_db & Collection ⟷ dockless_collection

In [2]:
conn = 'mongodb://127.0.0.1:27017' # Initialize PyMongo to work with MongoDBs
client = pymongo.MongoClient(conn) # Set Client connection to server (daemon)

db = client.dockless_vehicle_db          # Select MongoDB database to work with
collection = db.dockless_collection      # Collection Title

### EXTRACTION :

In [3]:
csv_filepath = '../dev/Resources/Dockless_Vehicle_Trips.csv' #Omar Filepath
#csv_filepath = '../../project-ETL/Dockless_Vehicle_Trips.csv' #Michael Filepath

dockless_data_df = pd.read_csv(csv_filepath)
dockless_data_df = dockless_data_df.rename(columns={'Trip Duration':'Duration (Seconds)', 
                                                    'Trip Distance':'Distance (Meters)'})
dockless_data_df.head()

/Users/Omar/anaconda3/envs/pythonomy/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,Device ID,Vehicle Type,Duration (Seconds),Distance (Meters),Start Time,End Time,Modified Date,Month,Hour,Day of Week,Council District (Start),Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,06/29/2018 05:30:00 PM,06/29/2018 05:30:00 PM,12/12/2018 09:36:14 PM,6.0,17.0,5.0,5.0,9.0,013445,013916,2018.0,30.263,-97.762,30.259,-97.754
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00:00 AM,11/30/2018 11:00:00 AM,12/13/2018 03:43:44 PM,11.0,11.0,5.0,9.0,9.0,014556,015186,2018.0,30.283,-97.745,30.284,-97.737
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/02/2018 03:15:00 PM,10/02/2018 03:30:00 PM,12/13/2018 03:49:54 PM,10.0,15.0,2.0,9.0,9.0,015344,015032,2018.0,30.285,-97.734,30.291,-97.738
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,09/02/2018 04:45:00 PM,09/02/2018 05:00:00 PM,12/13/2018 03:53:09 PM,9.0,16.0,0.0,9.0,9.0,014707,014081,2018.0,30.268,-97.743,30.276,-97.752
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,09/28/2018 11:45:00 AM,09/28/2018 11:45:00 AM,12/12/2018 10:24:56 PM,9.0,11.0,5.0,3.0,3.0,016114,015642,2018.0,30.242,-97.721,30.244,-97.729

### TRANSFORMATION :

In [4]:
dockless_data_df = dockless_data_df[["ID", "Vehicle Type", "Duration (Seconds)", "Distance (Meters)", "Start Time" ]].copy()
dockless_data_df.head() #ONLY NEEDED COLUMNS COPIED OVER

,ID,Vehicle Type,Duration (Seconds),Distance (Meters),Start Time
0,000000cb-78a9-4b95-8ead-37c797abcf37,scooter,358.0,915.0,06/29/2018 05:30:00 PM
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,scooter,226.0,839.0,11/30/2018 11:00:00 AM
2,00002334-2f2b-41a0-9a04-8ff66be39f40,scooter,324.0,1206.0,10/02/2018 03:15:00 PM
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,scooter,1096.0,0.0,09/02/2018 04:45:00 PM
4,00002c70-678b-4c09-a32c-da0266e329c6,scooter,408.0,1144.0,09/28/2018 11:45:00 AM

In [5]:
dockless_data_df["Start Time"][:2].values #testing element
#dockless_data_df["Start Time"][0].strip(' PM') #testing element

array(['06/29/2018 05:30:00 PM', '11/30/2018 11:00:00 AM'], dtype=object)

In [6]:
dockless_data_df = dockless_data_df.dropna(subset=["Start Time"])

In [7]:
def round_nearest_hour(input_time):
    try:
        time = datetime.strptime(input_time, "%m/%d/%Y %I:%M:%S %p")
   #    time = datetime.strptime(input_time, "%m/%d/%Y %H:%M")
        time = time + timedelta(minutes=30)
        month = time.month
        year = time.year
        day = time.day
        hour = time.hour
        minute = 0
        return datetime(year, month, day, hour, minute)
    except:
        print("Error: ", input_time)

In [8]:
round_nearest_hour('06/29/2018 05:30:00 PM') #FUNCTION TEST
#round_nearest_hour('6/29/2018 23:20') #FUNCTION TEST

datetime.datetime(2018, 6, 29, 18, 0)

In [9]:
dockless_data_df["Start Time (rounded)"] = dockless_data_df["Start Time"].apply(round_nearest_hour)
dockless_data_df.head()

,ID,Vehicle Type,Duration (Seconds),Distance (Meters),Start Time,Start Time (rounded)
0,000000cb-78a9-4b95-8ead-37c797abcf37,scooter,358.0,915.0,06/29/2018 05:30:00 PM,2018-06-29 18:00:00
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,scooter,226.0,839.0,11/30/2018 11:00:00 AM,2018-11-30 11:00:00
2,00002334-2f2b-41a0-9a04-8ff66be39f40,scooter,324.0,1206.0,10/02/2018 03:15:00 PM,2018-10-02 15:00:00
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,scooter,1096.0,0.0,09/02/2018 04:45:00 PM,2018-09-02 17:00:00
4,00002c70-678b-4c09-a32c-da0266e329c6,scooter,408.0,1144.0,09/28/2018 11:45:00 AM,2018-09-28 12:00:00

In [10]:
dockless_data_df = dockless_data_df[["ID", "Vehicle Type", "Duration (Seconds)", "Distance (Meters)", "Start Time (rounded)" ]].copy()
dockless_data_df.head()

,ID,Vehicle Type,Duration (Seconds),Distance (Meters),Start Time (rounded)
0,000000cb-78a9-4b95-8ead-37c797abcf37,scooter,358.0,915.0,2018-06-29 18:00:00
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,scooter,226.0,839.0,2018-11-30 11:00:00
2,00002334-2f2b-41a0-9a04-8ff66be39f40,scooter,324.0,1206.0,2018-10-02 15:00:00
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,scooter,1096.0,0.0,2018-09-02 17:00:00
4,00002c70-678b-4c09-a32c-da0266e329c6,scooter,408.0,1144.0,2018-09-28 12:00:00

In [11]:
# TOP 100 ROWS FOR TESTING; ORIGINAL DATASET CONTAINS 2.6 MILLION ROWS;
dockless_data_top100_df = dockless_data_df[:][:100]
len(dockless_data_top100_df)

100

### LOADING: 
#### INTO MONGODB

In [13]:
# LIMITED DATASET OF TOP 100 ROWS FOR FUNCTIONALITY TESTING
for index, row in dockless_data_top100_df.iterrows():
    data = row.to_dict()
    print(data)
    print('\n––––––––––––––––––––––––––––––\n')
    collection.insert_one(data)

{'ID': '000000cb-78a9-4b95-8ead-37c797abcf37', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 358.0, 'Distance (Meters)': 915.0, 'Start Time (rounded)': Timestamp('2018-06-29 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00001b5f-46aa-4b26-a12f-d7b4d3c69834', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 226.0, 'Distance (Meters)': 839.0, 'Start Time (rounded)': Timestamp('2018-11-30 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00002334-2f2b-41a0-9a04-8ff66be39f40', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 324.0, 'Distance (Meters)': 1206.0, 'Start Time (rounded)': Timestamp('2018-10-02 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000261e-c0f0-4fb1-9947-1606dfe4ddcf', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1096.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-09-02 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00002c70-678b-4c09-a32c-da0266e329c6', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 408.0, 'Distance (Meters)': 1144.0, 'Start Time (rounded)': Timestamp('2018-09-28 12:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00002f2a-0bcd-4446-bb39-df9fd62be813', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1094.0, 'Distance (Meters)': 2631.0, 'Start Time (rounded)': Timestamp('2018-07-22 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00003324-85b7-45d0-ada2-31a5db5560fe', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 705.0, 'Distance (Meters)': 1248.0, 'Start Time (rounded)': Timestamp('2018-10-28 10:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00003584-6e34-4ccc-9968-b1ae3f47b1d7', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 143.0, 'Distance (Meters)': 702.0, 'Start Time (rounded)': Timestamp('2018-10-08 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000485a-1622-4fed-8fbd-f255552a882e', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 215.0, 'Distance (Meters)': 180.0, 'Start Time (rounded)': Timestamp('2018-06-16 22:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00004fe9-fdb2-4b55-ab44-789beba2d1d9', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 197.0, 'Distance (Meters)': 530.0, 'Start Time (rounded)': Timestamp('2018-10-25 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00005c8d-b73e-4eb8-82ae-fe56e5fbaac7', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 346.0, 'Distance (Meters)': 890.0, 'Start Time (rounded)': Timestamp('2018-07-13 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00005eeb-d762-4818-b9c0-b3cc07ddf04e', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 427.0, 'Distance (Meters)': 1815.0, 'Start Time (rounded)': Timestamp('2018-04-18 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000604c-70af-4615-8703-5afeb19f63ff', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 24.0, 'Distance (Meters)': 3.0, 'Start Time (rounded)': Timestamp('2018-12-04 03:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000651c-9754-419b-a023-8c793169ec98', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 2924.0, 'Distance (Meters)': 4816.0, 'Start Time (rounded)': Timestamp('2018-10-22 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000067a5-153d-4c19-82be-f3379e885acd', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 396.0, 'Distance (Meters)': 893.0, 'Start Time (rounded)': Timestamp('2018-04-20 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00006ca8-64c4-4f79-93dc-a0ceed169469', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 493.0, 'Distance (Meters)': 1100.0, 'Start Time (rounded)': Timestamp('2018-11-05 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00007a9d-06c9-4912-8eb2-ee9f07b4ad66', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 81.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-11-29 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00007d83-533d-4225-8ccc-1aad1af02e04', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 620.0, 'Distance (Meters)': 3543.0, 'Start Time (rounded)': Timestamp('2018-08-13 00:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000861f-2ea2-4c04-b189-6c0b746796ee', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 576.0, 'Distance (Meters)': 2710.0, 'Start Time (rounded)': Timestamp('2018-11-17 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00008e61-58b9-4d5f-8c0b-9c545386b3bd', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1008.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-10-17 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000091b4-76fa-4f18-8c2c-0918aaa9bdaf', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 102.0, 'Distance (Meters)': 126.0, 'Start Time (rounded)': Timestamp('2018-07-02 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00009448-5c4e-4b71-9099-20857ed527c9', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 4246.0, 'Distance (Meters)': 10778.0, 'Start Time (rounded)': Timestamp('2018-09-13 08:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00009710-37fb-4d57-b352-cc8aa07613e6', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 103.0, 'Distance (Meters)': 49.0, 'Start Time (rounded)': Timestamp('2018-11-24 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00009736-2331-46fc-9e91-24f84dbb157f', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 175.0, 'Distance (Meters)': 500.0, 'Start Time (rounded)': Timestamp('2018-10-25 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000a45f-49bd-4d54-a0e8-4595311ba38a', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 745.0, 'Distance (Meters)': 456.0, 'Start Time (rounded)': Timestamp('2018-06-24 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000b866-6b0f-4dfe-b102-4d316dd33156', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1620.0, 'Distance (Meters)': 1791.0, 'Start Time (rounded)': Timestamp('2018-08-26 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000bfa3-5a8b-4a09-a7ae-1247a190f1e7', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 175.0, 'Distance (Meters)': 289.0, 'Start Time (rounded)': Timestamp('2018-10-10 12:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000cde8-099d-4cd0-a4b5-a0560d7271d8', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 106.0, 'Distance (Meters)': 207.0, 'Start Time (rounded)': Timestamp('2018-12-01 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000ced0-47cf-4fe8-a42d-3e516618cabb', 'Vehicle Type': 'bicycle', 'Duration (Seconds)': 60.0, 'Distance (Meters)': 52.0, 'Start Time (rounded)': Timestamp('2018-10-23 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000d646-1620-48ad-b2c6-1b3e9e72c338', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 202.0, 'Distance (Meters)': 415.0, 'Start Time (rounded)': Timestamp('2018-09-24 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000dab9-4dcf-45e4-b9ec-cad4fc79470d', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 134.0, 'Distance (Meters)': 430.0, 'Start Time (rounded)': Timestamp('2018-08-04 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000de4c-f08c-4a88-aa08-c767196bb623', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1115.0, 'Distance (Meters)': 1397.0, 'Start Time (rounded)': Timestamp('2018-09-02 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000e677-3cb5-4e0c-a6de-6eee68cfac97', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 424.0, 'Distance (Meters)': 1703.0, 'Start Time (rounded)': Timestamp('2018-10-04 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000f946-8f0d-4c5e-b3a0-be7f673ef8cb', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 653.0, 'Distance (Meters)': 1322.0, 'Start Time (rounded)': Timestamp('2018-10-17 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0000fb01-ac75-4a06-b0b1-70c7c4020923', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1408.0, 'Distance (Meters)': 3544.0, 'Start Time (rounded)': Timestamp('2018-08-25 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00010168-e0b9-4e86-8a7e-6ef64d192c21', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 31.0, 'Distance (Meters)': 33.0, 'Start Time (rounded)': Timestamp('2018-08-08 22:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000115ec-b7e7-409d-aa9c-bd4ee3a288db', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 343.0, 'Distance (Meters)': 952.0, 'Start Time (rounded)': Timestamp('2018-12-09 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00011f96-1e0a-4aa0-b5d9-ff4e39fbb4fe', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 415.0, 'Distance (Meters)': 1605.0, 'Start Time (rounded)': Timestamp('2018-08-16 12:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001256a-37fd-4223-86d7-2f706b22e307', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 106.0, 'Distance (Meters)': 188.0, 'Start Time (rounded)': Timestamp('2018-10-25 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001266a-6305-415c-a4b4-ae0cf4b3f3f2', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 308.0, 'Distance (Meters)': 495.0, 'Start Time (rounded)': Timestamp('2018-04-21 10:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00012f54-bac1-4d2d-b554-fc44bed01e5a', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 434.0, 'Distance (Meters)': 1080.0, 'Start Time (rounded)': Timestamp('2018-08-05 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00013381-39ef-486f-b4c6-1d64fbad31b0', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 586.0, 'Distance (Meters)': 2696.0, 'Start Time (rounded)': Timestamp('2018-09-07 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00014693-a7a0-439c-b97e-69a6e332bb4e', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 2252.0, 'Distance (Meters)': 6908.0, 'Start Time (rounded)': Timestamp('2018-05-28 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0e72a742-a468-4aa1-b919-538637aa737e', 'Vehicle Type': 'bicycle', 'Duration (Seconds)': 715.0, 'Distance (Meters)': 2140.0, 'Start Time (rounded)': Timestamp('2018-07-29 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00015af1-c59a-4d1a-8ad5-8b34d16bbf8a', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 357.0, 'Distance (Meters)': 800.0, 'Start Time (rounded)': Timestamp('2018-10-11 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00015d00-17dd-47e2-8f5f-180033b7a9e4', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1970.0, 'Distance (Meters)': 1191.0, 'Start Time (rounded)': Timestamp('2018-08-27 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00015d91-fb34-4bba-b83d-c3968126a6c5', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 293.0, 'Distance (Meters)': 469.0, 'Start Time (rounded)': Timestamp('2018-10-22 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00015f89-074d-4565-a761-b35c59fc1746', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 332.0, 'Distance (Meters)': 531.0, 'Start Time (rounded)': Timestamp('2018-08-09 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00016127-5832-4fe8-b60b-b14e3ca5af9c', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 932.0, 'Distance (Meters)': 2065.0, 'Start Time (rounded)': Timestamp('2018-09-01 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000166d3-3053-4bf4-869a-e3eb846bae41', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 117.0, 'Distance (Meters)': 81.0, 'Start Time (rounded)': Timestamp('2018-08-28 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000172a9-5e77-47ac-bba4-d3941eac7e41', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 977.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-10-02 20:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000172c5-41ba-478b-b87b-1a0d0366bcb8', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 165.0, 'Distance (Meters)': 530.0, 'Start Time (rounded)': Timestamp('2018-12-03 21:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001734c-7197-4639-bd93-3849450ff321', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 944.0, 'Distance (Meters)': 1657.0, 'Start Time (rounded)': Timestamp('2018-07-06 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00017869-2b1c-45b4-8065-fd1b9c5fe91c', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 222.0, 'Distance (Meters)': 526.0, 'Start Time (rounded)': Timestamp('2018-08-13 10:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00017abf-2d16-4eb1-a70d-5dc8840eaa2d', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1275.0, 'Distance (Meters)': 5089.0, 'Start Time (rounded)': Timestamp('2018-09-16 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00017ae7-5309-4b07-8ebc-4e9a44acf797', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 888.0, 'Distance (Meters)': 1533.0, 'Start Time (rounded)': Timestamp('2018-07-03 20:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00018230-bdfa-4ad2-a9a0-1ec0f8098a1e', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 160.0, 'Distance (Meters)': 100.0, 'Start Time (rounded)': Timestamp('2018-10-11 12:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000187bc-78a1-4b44-ab6c-1e94ec8fd410', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 348.0, 'Distance (Meters)': 1239.0, 'Start Time (rounded)': Timestamp('2018-07-27 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00018b7e-6bbe-4f91-9c2a-bc09d55e05d9', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 343.0, 'Distance (Meters)': 1300.0, 'Start Time (rounded)': Timestamp('2018-09-25 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000190f6-b5c5-4669-917e-d075d0eaecaa', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 3141.0, 'Distance (Meters)': 5844.0, 'Start Time (rounded)': Timestamp('2018-12-15 20:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00019290-85fe-44d1-aafc-51e57bd68e87', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1261.0, 'Distance (Meters)': 4017.0, 'Start Time (rounded)': Timestamp('2018-09-03 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00019373-744b-41f1-b36a-a281168c4498', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 57.0, 'Distance (Meters)': 1.0, 'Start Time (rounded)': Timestamp('2018-11-18 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001960e-8b8e-420e-b076-1da1363911a8', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 583.0, 'Distance (Meters)': 1722.0, 'Start Time (rounded)': Timestamp('2018-04-25 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001988a-bd4f-496e-9b91-3399bcdce9d6', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 43.0, 'Distance (Meters)': 112.0, 'Start Time (rounded)': Timestamp('2018-07-11 14:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00019f7d-d602-4591-a0c3-212fc713ead0', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 324.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-10-23 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001a0ff-e40f-45f4-9dc9-85e5005e162a', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 320.0, 'Distance (Meters)': 848.0, 'Start Time (rounded)': Timestamp('2018-08-30 14:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001a76e-5992-40d0-895d-fe95e54d655a', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 523.0, 'Distance (Meters)': 1999.0, 'Start Time (rounded)': Timestamp('2018-08-10 09:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001ab37-0bd6-4c35-9d02-2f87f3df79ca', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 455.0, 'Distance (Meters)': 1336.0, 'Start Time (rounded)': Timestamp('2018-07-12 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001b158-de89-454e-87e1-39d105fec009', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 410.0, 'Distance (Meters)': 614.0, 'Start Time (rounded)': Timestamp('2018-11-21 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001c9ff-2a5e-4ff6-a56d-f669abea399f', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 493.0, 'Distance (Meters)': 425.0, 'Start Time (rounded)': Timestamp('2018-08-11 10:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001cdcf-2c77-44ee-a7c3-5133a24345eb', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 124.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-10-07 13:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001d5de-d54b-41dd-8fb9-a443a009eef6', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 774.0, 'Distance (Meters)': 1443.0, 'Start Time (rounded)': Timestamp('2018-12-15 23:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001e17d-dcc0-4cd9-9544-bc7f3837c8d7', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 210.0, 'Distance (Meters)': 1206.0, 'Start Time (rounded)': Timestamp('2018-12-12 15:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001e1a1-6eb3-47b9-88fe-fe0d55d519bf', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 227.0, 'Distance (Meters)': 557.0, 'Start Time (rounded)': Timestamp('2018-10-04 11:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001e5e3-8da9-4f2d-8c11-c61e040cce10', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 831.0, 'Distance (Meters)': 1196.0, 'Start Time (rounded)': Timestamp('2018-10-20 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001eb7e-0e0a-4393-827d-c3a777ced5f7', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 87.0, 'Distance (Meters)': 81.0, 'Start Time (rounded)': Timestamp('2018-09-21 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001ec72-0a35-42ed-ae33-a0c8ea74b3a2', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 3280.0, 'Distance (Meters)': 2500.0, 'Start Time (rounded)': Timestamp('2018-09-24 09:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0001f8a6-e9b8-4327-95c4-99b2cc9fbf1e', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1903.0, 'Distance (Meters)': 3614.0, 'Start Time (rounded)': Timestamp('2018-09-22 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00020e1d-542e-4427-bbb6-f7ae36417b07', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 363.0, 'Distance (Meters)': 525.0, 'Start Time (rounded)': Timestamp('2018-09-17 12:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00021486-5e52-4c2d-bfdc-825441159662', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 391.0, 'Distance (Meters)': 1544.0, 'Start Time (rounded)': Timestamp('2018-10-30 09:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0002161e-bd42-4ab3-a3a6-85c2dd58bd07', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 200.0, 'Distance (Meters)': 497.0, 'Start Time (rounded)': Timestamp('2018-11-01 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000217d6-1def-46cb-8517-f94be6808e73', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 290.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-09-22 21:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00021a66-0d3a-401d-b4cf-5ffb66595dff', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 134.0, 'Distance (Meters)': 389.0, 'Start Time (rounded)': Timestamp('2018-08-19 18:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0002299f-be1d-40f2-bde5-ee7fd5be9583', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 244.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-10-12 17:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00022c4a-0c5d-44a4-9b94-4c1a18551a4c', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 492.0, 'Distance (Meters)': 0.0, 'Start Time (rounded)': Timestamp('2018-09-01 14:00:00')}

––––––––––––––––––––––––––––––

{'ID': '00023080-5a41-4d33-83f1-3fbe5465fb9f', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 171.0, 'Distance (Meters)': 362.0, 'Start Time (rounded)': Timestamp('2018-11-04 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000235d5-7493-4580-a322-15ba91820caa', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 433.0, 'Distance (Meters)': 277.0, 'Start Time (rounded)': Timestamp('2018-09-27 19:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0002391a-2d1c-49ba-a766-0e4fd618fa36', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 5400.0, 'Distance (Meters)': 3847.0, 'Start Time (rounded)': Timestamp('2018-09-16 16:00:00')}

––––––––––––––––––––––––––––––

{'ID': '0002529d-be52-414e-8b81-b5a9800aad20', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 1373.0, 'Distance (Meters)': 1062.0, 'Start Time (rounded)': Timestamp('2018-09-03 12:00:00')}

––––––––––––––––––––––––––––––

{'ID': '000258eb-79da-4f8a-978a-35467fd01a03', 'Vehicle Type': 'scooter', 'Duration (Seconds)': 255.0, 'Distance (Meters)': 615.0, 'Start Time (rounded)': Timestamp('2018-11-09 15:00:00')}


In [ ]:
# DO NOT RUN
# COMPLETE DATASET OF 2.6 MILLION ROWS
for index, row in dockless_data_df.iterrows():
    data = row.to_dict()
    collection.insert_one(data)